.app {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.title {
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.model {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.model-img {
  width: 250px;
}

.model-glasses {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  opacity: 0.7;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: rgba(255, 0, 0, 0.2);
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.name {
  font-weight: bold;
}

.description {
  font-size: 13px;
  margin: 0;
}

.glassesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 100px;
  background-color: white;
  padding: 50px;
}

.glasses {
  display: block;
  width: 120px;
  padding: 10px;
  cursor: pointer;
}
